@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Welcom To Razor Sharp Pizzas</h1>
        <h2 class="mainSubtitle">Razor Sharp Pizzas, is the best!</h2>
    </div>
    <img class="mainImage" src="~/images/PizzaTime.jpg" />
    <br/>
    <a class="btn btn-primary mt-2" asp-area="" asp-page="Checkout/ThankYou">BRING ME THAT PIZZA</a>
</div>
